
sudo: false
language: java
os: 
  - linux
  - windows
compiler:
  - javac
notifications:
  email:
    - collantes.xavier@gmail.com
install: 
  - gradle assemble
  - ./mvnw clean install
cache:
  directories:
    - $HOME/.m2
