
sudo: false
dist: trusty
language: java
os: 
  - linux
notifications:
  email:
    - collantes.xavier@gmail.com
addons:
  sources:
    - ubuntu-toolchain-r-test
  apt:
    packages:
      - wget
      - pkg-config
before_install:
  - wget https://github.com/bazelbuild/bazel/releases/download/0.3.1/bazel_0.3.1-linux-x86_64.deb
  - sha256sum -c bazel.sha256
  - sudo dpkg -i bazel_0.3.1-linux-x86_64.deb
script:
  - bazel run :Hello
